.select-option{
  padding: 0 16px;
  font-size: 14px;
  height: 32px;
  font-weight: 400;
  display: flex;
  align-items: center;
  fill: #fff;
  color: var(--color-text-1);
  cursor: default;
  text-decoration: none;
  text-align: left;
  white-space: nowrap;
  border-radius: 4px;
  transition: background-color 0.1s;
  &:hover:not(.select-option-disabled){
    background-color: rgba(0, 0, 0, 0.1);
  }
  &-size--mini{
    padding: 0 8px;
    font-size: 12px;
    height: 24px;
  }
  &-size--small{
    padding: 0 12px;
    font-size: 14px;
    height: 28px;
  }
  &-size--large{
    padding: 0 24px;
    font-size: 16px;
    height: 36px;
  }
}