:root{
  --primary-color: #0078D4;

  --primary-text-color: #1A1A1A; 
  --secondary-text-color: #5B5D5F;
  --tertiary-text-color: #646464;


  --main-bg-color: #f3f3f3;

  --main-border-color: #bbbbbb;
}