html, body{
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  height: 100%;
  overflow: hidden;
}

:root{
  --primary-color: #0078D4;
  --primary-color-light: #2894DD;
  --primary-color-dense: #005FB2;
  --primary-color-disabled: #82CAEE;

  /* 浅 */
  --color-border-1: #f2f3f5;
  /* 一般 */
  --color-border-2: #e5e6eb;
  /* 深/悬浮 */
  --color-border-3: #c9cdd4;
  /* 重/按钮描边 */
  --color-border-4: #86909c;

  /* 浅/禁用 */
  --color-fill-1: #f7f8fa;
  /* 常规/白底悬浮 */
  --color-fill-2: #f2f3f5;
  /* 深/灰底悬浮 */
  --color-fill-3: #e5e6eb;
  /* 重/特殊场景 */
  --color-fill-4: #c9cdd4;

  /* 强调/正文标题 */
  --color-text-1: #1d2129;
  /* 次强调/正文标题 */
  --color-text-2: #4e5969;
  /* 次要信息 */
  --color-text-3: #86909c;
  /* 置灰信息 */
  --color-text-4: #c9cdd4;
}